html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  background-color: #fff1e3;
}

.page {
  display: flex;
  flex-direction: row;
  background-color: #fff1e3;
}

.main-content {
  width: 100vw;
}

.card {
  position: relative;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.num {
  background-color: transparent;
  position: absolute;
  top: 18px;
  left: 20px;
  font-weight: bolder; 
  font-size: 21px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

#header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100vh;
  width: 27rem;
  text-align: center;
  background-color: #ffd4a9;
  margin: 0px;
}

#header h2, h3, a {
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
}

#header h2 {
  color: #4b4b4b;
  font-weight: bold;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 3px;
}

#header a {
  color: #e1770b;
  font-size: 13px;
  text-decoration: none;
}

#header a:hover {
  color: #c7690b;
}

#header h3 {
  color: #4b4b4b;
  font-size: 13px;
}

.top {
  height: 20vh;
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#filters {
  height: 65vh;
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7c089;
}

#filters select {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 2px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.1rem;
  background-color: transparent;
  border-color: transparent;
  color: #4b4b4b;
  outline: none;
}

.select-label {
  font-family: 'Courier New', Courier, monospace;
  color: #d68032;
  font-weight: bold;
  font-size: 1.1rem;
}

.select-label-bold {
  color: #4b4b4b;
  font-size: 1.4rem;
}

.select-block {
  margin-left: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

button {
  min-height: 3rem;
  width: 10rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid;
  border-radius: 10px;
  color: #4b4b4b;
  border-color: #d68032;
  background-color: #fdf1e5;
}

button:hover {
  background-color: #f2e6da;
}

button:active:hover {
  background-color: #e2d6ca;
}

.card img {
  margin: 15px;
  box-shadow: 0px 10px 20px rgb(206, 192, 170);
  width: 18rem;
}

#github {
  position: fixed;
  bottom: 25px;
  right: 25px;
}

span#top-label {
  margin-bottom: 3.5rem;
}

span#bottom-label {
  margin-top: 3.5rem;
}

.footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  min-height: 3rem;
}

.footer p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8rem;
  color: #c39c74;
  margin-top: 2.5rem;
}

@media (max-width: 480px) {
  body {
    background-color: #fff1e3;
  }

  .page {
    display: flex;
    flex-direction: column;
  }

  .footer p {
    margin-top: -.5rem;
  }

  .card img {
    margin: 15px;
    box-shadow: 0px 10px 20px rgb(206, 192, 170);
    width: 8rem;
  }
}